*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background-image: url('Images/Login.jpg');
    background-size: cover;
    text-align: center;
    margin-top: 250px;
}
body form
{
    width: 350px;
    padding: 20px 0px;
    margin:auto;
    border: black solid 1px;
    background-color: rgba(12, 12, 12, 0.5);
   border-radius: 8px;
}
body form input
{
    width: 90%;
    font-family: "Roboto",sans-serif;
    padding: 10px;
    margin: 5px 15px;
    border: 0ch;
    box-sizing: border-box;
    font-size: 14px;
    
    
}
body form button
{
    background-color: orange;
    width: 90%;
    padding:10px;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    border: 0px;
    margin: 5px 0px 8px 0px;
}
.registerLink
{
    text-decoration: none;
    color: orange;
}
.registerLink:hover
{
    color: yellowgreen;
}
.message
{
color: whitesmoke;
font-weight: bold;
}